@model WissenMVCProject.Model.Post

@{
    ViewBag.Title = "Details";
}

<h2>Detaylar</h2>

<div>
    <h4>Yazılar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kategori Adı :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            Başlık :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Açıklama : 
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>

        <dt>
            Oluşturan :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            Oluşturulma Tarihi :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            Güncelleyen : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            Güncellenme Tarihi :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
