@model IEnumerable<WissenMVCProject.Model.Category>
@{
    ViewBag.Title = "Kategoriler";
}

<h2>Kategoriler</h2>
<a href="@Url.Action("Create")" class="btn btn-primary">Yeni Kategori</a>
<table class="table table-hover table table-striped">
    <tr>
        <th>Ad</th>
        <th>Tarih</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td><a href="@Url.Action("Edit",new {id=item.Id})">@item.Name</a></td>

        <td>@item.CreatedAt.ToString("dd.MM.yyyy")</td>
        <td>
            <a href="@Url.Action("Edit",new {id=item.Id })" class="btn btn-primary btn-sm">Düzenle</a>
            <a href="@Url.Action("Delete",new {id=item.Id })" class="btn btn-danger btn-sm">Sil</a>
            <a href="@Url.Action("Details",new {id=item.Id })" class="btn btn-success btn-sm">Açıklama</a>
        </td>
    </tr>
    }
</table>